GOOGLE_MAPS_API_KEY="api_key"
UPRN="Unique Property Reference Number. Helpful site: https://www.findmyaddress.co.uk/search"
DATABASE_PATH="database.db" # Path to the SQLite database file. If it doesn't exist, it will be created automatically.